/*! 
 Build based on gin-vue-admin 
 Time : 1774021644000 */
[data-v-9821738f] .el-input__inner{height:26px}.odds-item[data-v-9821738f]{display:flex;align-items:center;white-space:nowrap;gap:2px}.text-lg[data-v-9821738f]{font-weight:700}.el-input input[type=number][data-v-9821738f]::-webkit-outer-spin-button,.el-input input[type=number][data-v-9821738f]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}.el-input input[type=number][data-v-9821738f]{-moz-appearance:textfield}
