/*! 
 Build based on gin-vue-admin 
 Time : 1774021644000 */
.green-dot{background:#67c23a;border-radius:50%;display:inline-block;width:8px;height:8px}.red-dot{background:#f56c6c;border-radius:50%;display:inline-block;width:8px;height:8px}
