/*! 
 Build based on gin-vue-admin 
 Time : 1774021644000 */
[data-v-65b5f5c1] .el-table--small .cell{padding:0}[data-v-65b5f5c1] .el-form-item{margin-right:10px;margin-bottom:0}.demo-tabs>.el-tabs__content[data-v-65b5f5c1]{padding:32px;color:#6b778c;font-size:32px;font-weight:600}.demo-tabs .custom-tabs-label .el-icon[data-v-65b5f5c1]{vertical-align:middle}.demo-tabs .custom-tabs-label span[data-v-65b5f5c1]{vertical-align:middle;margin-left:4px}
