/*! 
 Build based on gin-vue-admin 
 Time : 1774033438000 */
.selected[data-v-42f2851c]{border:3px solid #409eff}.selected[data-v-42f2851c]:before{content:"";position:absolute;left:0;top:0;border:10px solid #409eff}.selected[data-v-42f2851c]:after{content:"";width:9px;height:14px;position:absolute;left:6px;top:0;border:3px solid #fff;border-top-color:transparent;border-left-color:transparent;transform:rotate(45deg)}
